@charset "UTF-8";
@import "./fonts/stylesheet.css";
html, body {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

/*** 
====================================================================
Global Settings
====================================================================
   ***/
body {
  font-family: "Inter", sans-serif;
  font-size: 21px;
  color: #385988;
  line-height: 138%;
  font-weight: 300;
  background: #fff;
}
body.active {
  overflow: hidden;
}

a {
  text-decoration: none;
  opacity: 1;
  color: #385988;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}
a:hover {
  opacity: 0.88;
}

ul li {
  list-style: none;
}

.auto__container {
  position: relative;
  max-width: 1710px;
  margin: 0 auto;
  padding: 0 40px;
}

h1, h2 {
  font-weight: 700;
  font-size: 34px;
  line-height: 138%;
  text-transform: uppercase;
}

h6 {
  font-size: 21px;
  line-height: 138%;
  text-transform: uppercase;
  font-weight: 700;
}
h6.sm {
  font-size: 17px;
  line-height: 130%;
}

p.big {
  font-size: 25px;
  line-height: 132%;
}
p.sm {
  font-size: 17px;
  line-height: 130%;
}

.main {
  overflow: hidden;
  padding-top: 176.34px;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  line-height: 100%;
  color: #385988;
  text-transform: uppercase;
  white-space: nowrap;
}
.link:hover {
  opacity: 1;
}
.link:hover img {
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}
.link__icon {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 8px;
}
.link__icon img {
  width: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.link b {
  font-weight: 400;
}

.copy {
  position: absolute;
  bottom: 10px;
  right: 6px;
  z-index: 2;
  color: #fff;
  font-size: 11px;
  line-height: 100%;
  font-weight: 300;
  white-space: nowrap;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.banner {
  max-width: 1940px;
  margin: 0 auto;
}
.banner__image {
  width: 100%;
  padding-bottom: 42%;
  position: relative;
  min-height: 260px;
}
.banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}

.showMoreBtn {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.showMoreBtn.active img {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}
.showMoreBtn span {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.showMoreBtn span img {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  width: 100%;
}
.showMoreBtn b {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 100%;
  white-space: nowrap;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #fff;
}
.header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-animation-name: sticky;
          animation-name: sticky;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-box-shadow: 0px 4px 4px 0px #00000021;
          box-shadow: 0px 4px 4px 0px #00000021;
}
.header.sticky .header__inner {
  padding: 10px 0;
}
.header.active .header__inner-logo img {
  opacity: 0;
  visibility: hidden;
}
.header.active .header__inner-logo img.light {
  opacity: 1;
  visibility: visible;
}
.header__inner {
  padding: 22px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header__inner-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 205px;
  position: relative;
  z-index: 10;
}
.header__inner-logo img {
  width: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header__inner-logo img.light {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}

@-webkit-keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.nav.active {
  transform: translate(0, 0);
  -moz-ransform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}
.nav__inner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  padding: 200px 0 30px 0;
  height: 100%;
  overflow-y: auto;
  background: linear-gradient(135deg, #53caec, #385988);
}
.nav__inner-main {
  width: 50%;
  color: #fff;
  margin: 0 0 0 auto;
}
.nav__inner-links {
  padding-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 2px dashed #fff;
}
.nav__inner-links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}
.nav__inner-links li:last-child {
  margin: 0;
}
.nav__inner-links a {
  font-size: 34px;
  line-height: 100%;
  font-weight: 300;
  color: #fff;
}
.nav__inner-links a:hover {
  opacity: 1;
  text-decoration: underline;
}
.nav__inner-row {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 800px;
}
.nav__inner-foot {
  border-top: 2px dashed #fff;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.nav__inner-foot a {
  font-size: 17px;
  line-height: 100%;
  font-weight: 300;
  color: #fff;
  margin-bottom: 12px;
}
.nav__inner-foot a:hover {
  opacity: 1;
  text-decoration: underline;
}
.nav__inner-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__inner-social a {
  width: 27px;
  height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px 0 0;
}
.nav__inner-social a:hover {
  opacity: 0.7;
}
.nav__inner-social a:last-child {
  margin: 0;
}
.nav__inner-social a img {
  width: 100%;
}
.navItem {
  margin: 20px 0;
  width: calc(50% - 12px);
}
.navItem__head {
  margin-bottom: 5px;
}
.navItem p {
  font-weight: 300;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.navItem__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.navItem a {
  color: #fff;
}
.navItem a:hover {
  opacity: 1;
  text-decoration: underline;
}

.burger {
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  position: relative;
  width: 50px;
  height: 32px;
  z-index: 10;
  margin-bottom: 40px;
}
.burger:hover {
  opacity: 0.8;
}
.burger::before {
  top: 0;
  width: 100%;
  height: 6px;
  background-color: #385988;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -moz-ransform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.burger span {
  top: 50%;
  width: 100%;
  height: 6px;
  background-color: #385988;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-ransform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.burger::after {
  bottom: 0;
  width: 100%;
  height: 6px;
  background-color: #385988;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -moz-ransform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.burger b {
  position: absolute;
  top: calc(100% + 8px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 17px;
  line-height: 100%;
  font-weight: 300;
  color: #385988;
  text-align: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.burger.active::before {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #fff;
}
.burger.active span {
  opacity: 0;
}
.burger.active::after {
  bottom: 50%;
  -webkit-transform: translate(-50%, 50%) rotate(-45deg);
  transform: translate(-50%, 50%) rotate(-45deg);
  background-color: #fff;
}
.burger.active b {
  opacity: 0;
  visibility: hidden;
}

.footer {
  background: linear-gradient(135deg, #53caec, #385988);
  padding: 40px 0;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__inner a {
  font-size: 17px;
  line-height: 100%;
  font-weight: 300;
  color: #fff;
  margin-bottom: 10px;
}
.footer__inner a:hover {
  opacity: 1;
  text-decoration: underline;
}
.footer__inner a:last-child {
  margin: 0;
}
.footer__inner-logo {
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__inner-logo img {
  width: 100%;
}
.footer__inner-main {
  width: 50%;
  max-width: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__inner-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer__inner-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer__inner-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}
.footer__inner-social a {
  width: 27px;
  height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px 0 0 !important;
}
.footer__inner-social a:hover {
  opacity: 0.7;
}
.footer__inner-social a:last-child {
  margin: 0;
}
.footer__inner-social a img {
  width: 100%;
}

.partner {
  padding-top: 100px;
}
.partner.big {
  padding: 0 0 180px;
}
.partner.big .partner__inner-title {
  margin-bottom: 60px;
}
.partner.big .partnerItem {
  width: calc(25% - 24px);
}
.partner.big .partnerItem h6 {
  line-height: 24px;
  height: 48px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 24px;
}
.partner.lg {
  padding: 120px 0;
}
.partner__inner-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 22px;
}
.partner__inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -12px;
}
.partner__inner > .link {
  display: none;
}
.partnerItem {
  width: calc(33.3% - 24px);
  margin: 24px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.partnerItem:hover {
  opacity: 1;
}
.partnerItem:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.partnerItem__image {
  position: relative;
  padding-bottom: 67%;
  overflow: hidden;
  margin-bottom: 24px;
}
.partnerItem__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.partnerItem p {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
}

.reference {
  padding: 200px 0;
}
.reference__inner-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
.reference__inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -12px;
}
.reference__inner h2 {
  max-width: 810px;
}
.reference__inner .link {
  margin-left: 15px;
}
.referenceItem {
  width: calc(50% - 24px);
  margin: 30px 12px;
}
.referenceItem:hover {
  opacity: 1;
}
.referenceItem:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.referenceItem__image {
  position: relative;
  padding-bottom: 65%;
  overflow: hidden;
  margin-bottom: 17px;
}
.referenceItem__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.referenceItem__content {
  padding-top: 50px;
}
.referenceItem__info {
  display: none;
}

.project {
  padding: 170px 0 110px;
}
.project.big {
  padding-bottom: 100px;
}
.project.ex {
  padding: 170px 0;
}
.project.lg .project__inner-content {
  width: calc(50% - 10px);
}
.project__inner-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 46px;
}
.project__inner-title .link {
  margin-left: 15px;
}
.project__inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.project__inner-content {
  width: 100%;
  max-width: 800px;
}
.project__inner-text {
  margin-bottom: 90px;
}
.project__inner-col {
  padding: 35px 0 60px;
}
.project__inner-col h6 {
  margin-bottom: 10px;
}
.project__inner-col p {
  margin-bottom: 35px;
}
.project__inner-col p:last-child {
  margin: 0;
}
.project__inner > .link {
  display: none;
}
.projectItem {
  padding: 15px 0;
  cursor: pointer;
  border-top: 2px dashed #385988;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  display: block;
}
.projectItem.first {
  border-top: unset;
  border-bottom: 2px dashed #385988;
}
.projectItem.first .projectItem__head {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.projectItem.last {
  border-bottom: 2px dashed #385988;
}
.projectItem.last .projectItem__head {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.projectItem:hover {
  opacity: 1;
  background-color: #53caec;
}
.projectItem__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}
.projectItem__head h6 b {
  font-weight: 700;
}
.projectItem__head h6 span {
  text-transform: lowercase;
  font-weight: 300;
}
.projectItem p {
  max-width: 520px;
}
.projectItem .link {
  margin-left: 15px;
}
.projectItem .link:hover img {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.location {
  padding: 60px 0 80px;
}
.location.big {
  padding: 100px 0;
}
.location.sl {
  padding: 40px 0 200px;
}
.location.sl .location__inner {
  position: relative;
}
.location.sl .auto__container {
  padding: 0 70px;
  max-width: 1770px;
}
.location__inner-title {
  margin-bottom: 44px;
}
.location__inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -12px;
}
.location__inner-slider {
  margin: 0 -12px;
  position: static !important;
}
.location__inner-slider .locationItem {
  margin: 0;
  width: 100%;
}
.location__inner .slick-slide {
  margin: 0 12px;
  height: unset;
}
.location__inner .slick-track {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.location__inner .slick-arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  z-index: 3;
}
.location__inner .slick-arrow:hover {
  opacity: 0.7;
}
.location__inner .slick-arrow::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/icons/arrow-right.svg") no-repeat center;
  background-size: contain;
  opacity: 1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  content: "";
}
.location__inner .slick-prev {
  left: -55px;
}
.location__inner .slick-prev::before {
  background: url("../images/icons/arrow-left.svg") no-repeat center;
  background-size: contain;
}
.location__inner .slick-next {
  right: -55px;
}
.locationItem {
  margin: 12px;
  width: calc(25% - 24px);
}
.locationItem__image {
  position: relative;
  padding-bottom: 66.6%;
  overflow: hidden;
  margin-bottom: 34px;
}
.locationItem__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.locationItem__title {
  margin-bottom: 18px;
}
.locationItem__title p {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 28px;
  height: 140px;
}
.locationItem h6 {
  margin-bottom: 10px;
}
.locationItem a:hover {
  opacity: 1;
  color: #53caec;
}
.locationItem .link {
  display: none;
}

.imprint {
  padding: 100px 0 130px;
}
.imprint__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column-align: unset;
      justify-self: unset;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.imprint__inner-content {
  width: calc(50% - 12px);
}
.imprint__inner h2 {
  margin-bottom: 60px;
}
.imprint__inner h6 {
  margin-bottom: 10px;
}
.imprint__inner p {
  margin-bottom: 50px;
}
.imprint__inner p:last-child {
  margin: 0;
}
.imprint__inner p a {
  color: #385988;
}
.imprint__inner p a:hover {
  opacity: 1;
  color: #53caec;
}
.imprint__inner p b {
  font-weight: 700;
}

.team {
  padding: 200px 0 150px;
}
.team__inner-title {
  margin-bottom: 60px;
}
.team__inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -12px;
}
.teamItem {
  width: calc(25% - 24px);
  margin: 30px 12px;
}
.teamItem__image {
  margin-bottom: 25px;
  padding-bottom: 64%;
  position: relative;
}
.teamItem__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}

.about {
  padding: 130px 0 80px;
}
.about__inner-title {
  margin-bottom: 20px;
}
.about__inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -12px;
}
.about__inner h2 {
  max-width: 800px;
}
.aboutItem {
  width: calc(50% - 24px);
  margin: 45px 12px;
}
.aboutItem:hover {
  opacity: 1;
}
.aboutItem:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.aboutItem__image {
  position: relative;
  padding-bottom: 65%;
  overflow: hidden;
  margin-bottom: 60px;
}
.aboutItem__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.aboutItem h6 {
  margin-bottom: 10px;
}

.heroTop {
  padding: 100px 0 40px;
}
.heroTop h1 {
  max-width: 840px;
  line-height: 46px;
  height: 184px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.heroBanner {
  max-width: 1940px;
  margin: 0 auto;
}
.heroBanner.sm .heroBanner__inner {
  padding-bottom: 42%;
}
.heroBanner__inner {
  width: 100%;
  padding-bottom: 56%;
  position: relative;
  min-height: 260px;
}
.heroBanner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}
.heroContent {
  padding: 100px 0;
}
.heroContent.sm {
  padding-bottom: 0;
}
.heroContent__inner p {
  max-width: 840px;
}

@media (max-width: 1380px) {
  .main {
    padding-top: 143.3px;
  }

  h1, h2 {
    font-size: 30px;
  }

  .header__inner {
    padding: 20px 0;
  }
  .header__inner-logo {
    width: 160px;
  }

  .nav__inner-main {
    width: 100%;
    max-width: 700px;
  }

  .heroTop {
    padding: 60px 0 30px;
  }
  .heroContent {
    padding: 60px 0;
  }

  .partner.big {
    padding-bottom: 140px;
  }
  .partner.big .partnerItem {
    width: calc(33.3% - 16px);
  }
  .partner.lg {
    padding: 80px 0;
  }
  .partner__inner-row {
    margin: 0 -8px;
  }
  .partnerItem {
    width: calc(33.3% - 16px);
    margin: 20px 8px;
  }
  .partnerItem__image {
    margin-bottom: 15px;
  }

  .location {
    padding: 60px 0 80px;
  }
  .location.sl {
    padding: 40px 0 150px;
  }
  .location.sl .auto__container {
    padding: 0 40px;
  }
  .location__inner-row {
    margin: 0 -8px;
  }
  .location__inner-slider {
    margin: 0 -8px;
  }
  .location__inner .slick-slide {
    margin: 0 8px;
  }
  .location__inner .slick-prev {
    left: -35px;
  }
  .location__inner .slick-next {
    right: -35px;
  }
  .locationItem {
    width: calc(33.3% - 16px);
    margin: 12px 8px;
  }
  .locationItem__image {
    margin-bottom: 20px;
  }

  .reference {
    padding: 150px 0;
  }
  .reference__inner-row {
    margin: 0 -8px;
  }
  .referenceItem {
    width: calc(50% - 16px);
    margin: 24px 8px;
  }

  .project {
    padding: 100px 0;
  }
  .project.ex {
    padding: 120px 0;
  }
  .project__inner-text {
    margin-bottom: 50px;
  }
  .project__inner-text p {
    font-size: 17px;
  }

  .about {
    padding: 100px 0 70px;
  }
  .about__inner-row {
    margin: 0 -8px;
  }
  .aboutItem {
    width: calc(50% - 16px);
    margin: 30px 8px;
  }
  .aboutItem__image {
    margin-bottom: 40px;
  }

  .team {
    padding: 150px 0 100px;
  }
  .team__inner-row {
    margin: 0 -8px;
  }
  .teamItem {
    width: calc(33.3% - 16px);
    margin: 24px 8px;
  }
}
@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    display: none;
  }

  .copy {
    font-size: 9px;
  }

  .main {
    padding-top: 123.92px;
  }

  .header__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__inner-logo {
    width: 130px;
    margin-left: -16px;
  }

  .nav__inner {
    padding-top: 180px;
  }
  .nav__inner-main {
    padding-left: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .nav__inner-links {
    padding-bottom: 55px;
  }
  .nav__inner-links a {
    font-size: 25px;
  }
  .navItem {
    width: calc(50% - 7px);
  }
  .navItem h6,
.navItem p {
    font-size: 17px;
    line-height: 22px;
  }

  .burger {
    margin: 0;
    width: 35px;
    height: 30px;
  }
  .burger::after {
    height: 5px;
  }
  .burger::before {
    height: 5px;
  }
  .burger span {
    height: 5px;
  }
  .burger b {
    display: none;
  }

  .partner.big {
    padding-bottom: 100px;
  }
  .partner.big .partnerItem {
    width: calc(50% - 20px);
  }
  .partner__inner-title .link {
    display: none;
  }
  .partner__inner-row {
    margin: 0 -10px;
  }
  .partnerItem {
    margin: 20px 10px;
    width: calc(50% - 20px);
  }

  .location.sl {
    padding: 40px 0 100px;
  }
  .location__inner-row {
    margin: 0 -10px;
  }
  .location__inner-slider {
    margin: 0 -10px;
  }
  .location__inner .slick-slide {
    margin: 0 10px;
  }
  .locationItem {
    margin: 10px;
    width: calc(50% - 20px);
  }

  .reference {
    padding: 100px 0;
  }
  .referenceItem__content {
    display: none;
  }

  .project.ex {
    padding: 100px 0;
  }
  .project.lg .project__inner-content {
    width: 100%;
  }
  .project__inner-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project__inner-content {
    width: 100%;
    max-width: unset;
    margin-bottom: 30px;
  }
  .project__inner-content:last-child {
    margin: 0;
  }

  .imprint {
    padding: 70px 0 90px;
  }
  .imprint__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .imprint__inner-content {
    width: 100%;
    margin-bottom: 100px;
  }
  .imprint__inner-content:last-child {
    margin: 0;
  }
  .imprint__inner h2 {
    margin-bottom: 45px;
  }
  .imprint__inner h6:first-of-type {
    margin-bottom: 30px;
  }

  .aboutItem h6 {
    font-size: 17px;
  }
  .aboutItem p {
    font-size: 17px;
  }

  .team {
    padding: 100px 0;
  }
  .teamItem {
    width: calc(50% - 16px);
    margin: 20px 8px;
  }
}
@media (max-width: 930px) {
  h1, h2 {
    font-size: 25px;
  }

  p.big {
    font-size: 21px;
  }

  .heroTop {
    padding: 50px 0 40px;
  }
  .heroTop h1 {
    display: block;
    line-height: 138%;
    height: unset;
  }
  .heroContent {
    padding: 30px 0 50px;
  }
}
@media (max-width: 750px) {
  .banner.big {
    margin: 50px 0;
  }

  .showMoreBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .mobRemove {
    display: none !important;
  }

  .heroContent.sm {
    padding-bottom: 50px;
  }

  .partner {
    padding: 50px 0;
  }
  .partner.big {
    padding: 50px 0 100px;
  }
  .partner.big .partner__inner-title {
    margin-bottom: 48px;
  }
  .partner.big .partnerItem {
    width: 100%;
  }
  .partner.big .partnerItem__content p {
    display: none;
  }
  .partner.big .partnerItem h6 {
    line-height: 138%;
    height: unset;
    margin: 0;
  }
  .partner.ex .partner__inner {
    padding-bottom: 50px;
    position: relative;
  }
  .partner.lg {
    padding: 50px 0;
  }
  .partner__inner-title {
    margin-bottom: 40px;
  }
  .partner__inner-row {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .partner__inner > .link {
    position: absolute;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .partnerItem {
    margin: 0 0 50px 0;
    width: 100%;
  }
  .partnerItem:last-child {
    margin: 0;
  }
  .partnerItem p {
    display: block;
    margin-top: 4px;
  }

  .location {
    padding: 60px 0;
  }
  .location.big {
    padding: 50px 0 100px;
  }
  .location.sl {
    padding: 50px 0 40px;
  }
  .location.sl .locationItem__image {
    margin: 0 0 15px 0;
    width: 100%;
  }
  .location.sl .locationItem__title {
    margin: 0;
  }
  .location.sl .locationItem p {
    display: block;
    height: unset;
  }
  .location__inner-title {
    margin-bottom: 50px;
  }
  .location__inner-row {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .locationItem {
    margin: 0 0 50px 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .locationItem__image {
    margin: 0 -40px 15px;
    min-height: 230px;
  }
  .locationItem__title p {
    display: none;
  }
  .locationItem__info {
    margin-bottom: 15px;
  }
  .locationItem:last-child {
    margin: 0;
  }
  .locationItem h6 {
    margin: 0;
  }
  .locationItem .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 0 auto;
  }

  .reference {
    padding: 50px 0;
  }
  .reference__inner {
    position: relative;
    padding-bottom: 45px;
  }
  .reference__inner-title {
    margin-bottom: 48px;
  }
  .reference__inner-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .reference__inner .link {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .reference__inner .showMore.active .referenceItem:nth-child(n) {
    display: block;
    margin-bottom: 50px;
  }
  .reference__inner .showMore.active .referenceItem:last-child {
    margin: 0;
  }
  .reference__inner .showMore .referenceItem:nth-child(n+7) {
    display: none;
  }
  .reference__inner .showMore .referenceItem:nth-child(6) {
    margin: 0;
  }
  .reference__inner .showMoreBtn {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .referenceItem {
    margin: 0 0 50px 0;
    width: 100%;
  }
  .referenceItem:last-child {
    margin: 0;
  }
  .referenceItem__info {
    display: block;
    padding-top: 5px;
  }
  .referenceItem__info p {
    font-size: 17px;
    line-height: 100%;
  }
  .referenceItem__info p b {
    font-weight: 700;
    text-transform: uppercase;
  }

  .project {
    padding: 50px 0;
  }
  .project.lg .project__inner-content {
    margin: 0;
  }
  .project.lg .project__inner-content:last-child {
    display: none;
  }
  .project.lg .projectItem__body {
    display: block;
  }
  .project__inner {
    padding-bottom: 55px;
    position: relative;
  }
  .project__inner-title .link {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
  }
  .project__inner-text {
    display: none;
  }
  .project__inner > .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
  }
  .projectItem:last-child {
    border-bottom: 2px dashed #385988;
  }
  .projectItem__head {
    margin: 0;
  }
  .projectItem__head h6 {
    text-transform: capitalize;
  }
  .projectItem__head h6 span {
    font-weight: 700;
  }
  .projectItem__body {
    display: none;
  }
  .projectItem .link__icon {
    margin: 0;
  }
  .projectItem .link b {
    display: none;
  }

  .imprint {
    padding: 50px 0;
  }

  .about {
    padding: 50px 0;
  }
  .about__inner-title {
    margin-bottom: 48px;
  }
  .about__inner-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .aboutItem {
    margin: 0 0 50px 0;
    width: 100%;
  }
  .aboutItem:last-child {
    margin: 0;
  }
  .aboutItem__image {
    margin-bottom: 15px;
  }
  .aboutItem h6 {
    margin-bottom: 4px;
  }

  .team {
    padding: 50px 0;
  }
  .team__inner {
    position: relative;
    padding-bottom: 50px;
  }
  .team__inner-title {
    margin-bottom: 48px;
  }
  .team__inner-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .team__inner .showMore.active .teamItem:nth-child(n) {
    display: block;
    margin-bottom: 50px;
  }
  .team__inner .showMore.active .teamItem:last-child {
    margin: 0;
  }
  .team__inner .showMore .teamItem:nth-child(n+5) {
    display: none;
  }
  .team__inner .showMore .teamItem:nth-child(4) {
    margin: 0;
  }
  .team__inner .showMoreBtn {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .teamItem {
    margin: 0 0 50px 0;
    width: 100%;
  }
  .teamItem:last-child {
    margin: 0;
  }
  .teamItem__image {
    margin-bottom: 15px;
  }

  .footer {
    padding: 30px 0;
  }
  .footer__inner-logo {
    width: 130px;
    margin-left: -20px;
  }
  .footer__inner-main {
    width: 55%;
  }
}
@media (max-width: 540px) {
  h1, h2 {
    font-size: 20px;
  }

  h6 {
    font-size: 17px;
  }

  body {
    font-size: 17px;
  }

  p {
    font-size: 17px;
  }
  p.big {
    font-size: 17px;
  }

  .main {
    padding-top: 103.92px;
  }

  .header__inner {
    padding: 10px 0;
  }
  .header__inner-logo {
    margin-left: -40px;
  }

  .nav__inner-main {
    max-width: 340px;
    margin: 0 0 0 auto;
  }
  .nav__inner-links {
    position: relative;
    border: unset;
  }
  .nav__inner-links::before {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 2px;
    border-bottom: 2px dashed #fff;
    content: "";
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .nav__inner-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav__inner-foot {
    padding: 0;
    border: unset;
  }
  .nav__inner-row {
    padding: 20px 0 10px;
  }
  .nav__inner-social {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    padding-bottom: 25px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 25px;
    position: relative;
  }
  .nav__inner-social::before {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 2px;
    border-bottom: 2px dashed #fff;
    content: "";
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .navItem {
    width: 100%;
    margin: 12px 0;
  }
  .navItem:first-child {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }
  .navItem:last-child {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .navItem__body {
    opacity: 0;
    max-height: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    overflow: hidden;
  }
  .navItem__body.active {
    opacity: 1;
    max-height: 300px;
  }

  .footer {
    padding: 20px 0 40px;
  }
  .footer__inner {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__inner-logo {
    margin: -15px 0 0 -40px;
  }
  .footer__inner-main {
    width: calc(100% - 150px);
    max-width: 180px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__inner-links {
    margin-bottom: 35px;
  }
  .footer__inner-social {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 35px;
  }
  .footer__inner a {
    margin-bottom: 25px;
    font-size: 14px;
  }
  .footer__inner-side a {
    margin-bottom: 20px;
  }
  .footer__inner-side a:last-of-type {
    margin: 0;
  }
}
@media (max-width: 390px) {
  .auto__container {
    padding: 0 24px;
  }

  h1, h2 {
    font-size: 17px;
  }

  h6 {
    font-size: 15px !important;
  }
  h6.sm {
    font-size: 15px;
  }

  body {
    font-size: 15px;
  }

  p {
    font-size: 15px !important;
  }
  p.big {
    font-size: 15px;
  }
  p.sm {
    font-size: 15px;
  }

  .header__inner-logo {
    margin-left: -24px;
  }

  .footer__inner-logo {
    margin-left: -24px;
  }
}
/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}